<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :source %>
    <%= f.association :destination %>
    <%= f.input :car_standard %>
    <%= f.input :seat %>
    <%= f.input :price %>
    <%= f.input :departure %>
    <%= f.input :arrival %>
    <%= f.input :company %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
