<div class="span12">
  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-edit"></i>

      <h3>Listing Trips</h3>
    </div>
    <div class="widget-content">

      <div class="clearboth"></div>

      <%= search_form_for @search, :html => {:class => "f-filter"} do |f| %>
          <div class="tab-content">
            <div class="btn-group floatleft">

              <%= link_to "ทั้งหมด", params.merge({:q => {:listing_type_does_not_equal => ''}}), {:class => 'btn active'} %>
              <%= link_to "ขาย", params.merge({:q => {:listing_type_cont => 'sale'}}), {:class => 'btn'} %>
              <%= link_to "สำหรับเช่า", params.merge({:q => {:listing_type_cont => 'rent'}}), {:class => 'btn'} %>
            </div>

            <div class="floatright">
              <%= f.select(:source_id_cont, Source.all.collect { |source| [source.name, source.id] }, {:prompt => "search by scorce"}) %>
              <%= f.select(:destination_id_cont, Destination.all.collect { |d| [d.name, d.id] }, {:prompt => "search by destination"}) %>

            </div>
          </div>
      <% end %>

      <table class="blue">
        <tr>
          <th><%= sort_link @search, :number, "#ID" %></th>
          <th>Route</th>
          <th>Car standard</th>
          <th>Seat</th>
          <th><%= sort_link @search, :price, "Price" %></th>
          <th><%= sort_link @search, :departure, "Departure" %></th>
          <th><%= sort_link @search, :arrival, "Arrival" %></th>
          <th>Company</th>
          <th></th>
        </tr>

        <% @trips.each do |trip| %>
            <tr>
              <td><%= trip.number %></td>
              <td><%= link_to route_to_s(trip), trip_path(trip) %></td>
              <td><%= trip.car_standard %></td>
              <td><%= trip.seat %></td>
              <td><%= trip.price %></td>
              <td><%= I18n.l(trip.departure, :format => :long) %><%#= trip.departure.to_s(:time) %></td>
              <td><%= I18n.l(trip.arrival, :format => :long) %></td>
              <td><%= trip.company %></td>
              <td>
                <div class="trip_actions">
                  <%= link_to t('toolbars.edit'), edit_trip_path(trip), :title => t('toolbars.edit'), :class => "act edit" %>
                  <%= link_to t('toolbars.delete'), trip_path(trip), confirm: t('confirm.delete'), method: :delete, :title => t('toolbars.delete') , :class => "act delete" %>
                </div>
              </td>

            </tr>
        <% end %>
      </table>
      <div class="btn-with-navbar">
        <%= will_paginate @trips, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>
        <%= link_to "New Trip", new_trip_path, :class => "btn btn-success" %>
      </div>

    </div>
  </div>
</div>




