<div class="span8">
  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-edit"></i>

      <h3>Customers </h3>
    </div>

    <div class="widget-content">
      <table class="blue">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Tel</th>
          <th>Seat</th>
          <th>Pick Up Point</th>
        </tr>


        <% @trip.bookings.each do |booking| %>
            <tr>
              <td><%= booking.id %></td>
              <td><%= booking.customer_name %></td>
              <td><%= booking.customer_telephone %></td>
              <td><%= booking.trip_items.count(:id) %></td>
              <td><%= booking.pick_up_point %></td>

            </tr>

        <% end %>
      </table>

      <div class="btn-with-navbar">
        <%#= will_paginate @trip, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>
        <%= link_to "Back", trips_path, :class => "btn btn-success" %>
      </div>

    </div>
  </div>
</div>

<div class="span4">
  <div class="widget stacked widget-box">
    <div class="widget-header">
      <i class="icon-search"></i>
      <h3>Search Sources</h3>
    </div>

    <div class="widget-content">

    </div>


  </div>
</div>

