<div class="span11">
  <div class="title-group">
    <div class="title">

      <h3>
        <div class="RG"></div>
        ข้อมูลผู้ใช้
      </h3>
    </div>
  </div>


  <div class="widget-content">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-vertical'}) do |f| %>
        <%= f.error_notification %>
        <%= display_base_errors resource %>
        <%= f.input :name, :autofocus => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :password, :autocomplete => "off", :hint => "ปล่อยให้มันว่างเปล่าถ้าคุณไม่ต้องการที่จะเปลี่ยนมัน", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
        <%= f.input :current_password, :hint => "เราต้องใช้รหัสผ่านปัจจุบันของคุณเพื่อยืนยันการเปลี่ยนแปลงของคุณ", :required => true %>
        <%= f.button :submit, 'บันทึก', :class => 'btn-primary' %>
    <% end %>
    <h3>ยกเลิกบัญชีผู้ใช้ของฉัน</h3>

    <p><%= link_to "ยกเลิกผู้ใช้นี้", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %> </p>
    <%= link_to "ย้อนกลับ", :back %>
  </div>
</div>

