<div class="span12">

  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-tasks"></i>

      <h3><%= link_to "Head Office Report", report_companies_path %></h3>
    </div>

    <div class="widget-content">

      <%= search_form_for @search, url: report_companies_search_path, method: :post, :html => {:class => ""} do |f| %>

          <div class="form-inputs">


            <div class="control-group">
              <label class="control-label" for="inputDeparture"> Date From:</label>

              <div class="controls">
                <div id="datetimepicker1" class="input-append date">
                  <input data-format="dd/MM/yyyy" type="text" id="q_route_departure_at_casted_gteq" name="q[route_departure_at_casted_gteq]"/>
                  <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputDeparture"> Date To:</label>

            <div class="controls">
              <div id="datetimepicker2" class="input-append date">
                <input data-format="dd/MM/yyyy" type="text" id="q_route_departure_at_casted_lteq" name="q[route_departure_at_casted_lteq]"/>

                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="inputSource"> Agent:</label>

            <div class="controls">
              <%= f.collection_select(:user_company_id_eq, Company.companies_act_as_agent.order(:name), :id, :name, {include_blank: true}) %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputSource"> Destination:</label>

            <div class="controls">
              <%= f.collection_select(:route_destination_id_eq, Destination.order(:name), :id, :name, {include_blank: true}) %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputSource"> Seller:</label>

            <div class="controls">
              <%= f.collection_select(:user_id_eq, User.with_company(current_user), :id, :name, {include_blank: true}) %>
            </div>
          </div>

          <div class="form-actions no-indent ">
            <%= f.button :Search, :class => "btn btn-success floatleft" %>
          </div>


      <% end %>
    </div>
  </div>
</div>
