<div class="span11">
  <div class="title-group">
    <div class="title">

      <h3>
        <div class="RG"></div>
        รายงานสำหรับบริษัท
      </h3>


    </div>
  </div>


  <%= simple_form_for @search, url: report_companies_search_path, :html => {:class => ""} do |f| %>

      <div class="well">

        <div class="form-inputs ">
            <%= f.input :route_departure_at_casted_gteq, :as => :custom_datepicker, :label => t('date.date_from'), :input_html => {:class => 'custom_datepicker_selector'} %>
        </div>

        <div class="form-inputs ">
            <%= f.input :route_departure_at_casted_lteq, :as => :custom_datepicker, :label => t('date.date_to'), :input_html => {:class => 'custom_datepicker_selector'} %>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputSource">ตำแทนจำหน่าย</label>

          <div class="controls">
            <%= f.collection_select(:user_company_id_eq, Company.companies_act_as_agent.order(:name), :id, :name, {include_blank: true}) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputSource">เส้นทาง</label>

          <div class="controls">
            <%#= f.collection_select(:route_destination_id_eq, Destination.order(:name), :id, :name, {include_blank: true}) %>
            <%= f.collection_select(:route_destination_id_eq, Destination.order(:name), :id, :name, {include_blank: true}) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputSource">ผู้ขาย</label>

          <div class="controls">
            <%= f.collection_select(:user_id_eq, User.with_company(current_user), :id, :name, {include_blank: true}) %>
          </div>
        </div>

        <%= f.submit "ค้นหา", :class => "btn btn-success" %>

      </div>


  <% end %>
</div>

