<div class="span11">
  <div class="title-group">
    <div class="title">

      <h3>
        <div class="RG"></div>
        เส้นทางต้นแบบ
      </h3>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>เส้นทาง</th>
      <th></th>

    </tr>

    <% @prototypes.each do |prototype| %>
        <tr>
          <td><%= prototype.name %></td>
          <td class="toolbars">
            <%= link_to t('toolbars.edit'), edit_prototype_path(prototype), :class => "btn btn-primary btn-mini" %>
            <%= link_to t('toolbars.delete'), prototype, method: :delete, data: {confirm: t('confirm.delete')}, :class => "btn btn-danger btn-mini" %>
          </td>
        </tr>
    <% end %>
  </table>
  <div class="btn-with-navbar">
    <%= will_paginate @prototypes, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>
    <%= link_to "สร้างต้นแบบ", new_prototype_path, :class => "btn btn-success" %>
  </div>

</div>



