<div class="span11">
  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        ค้นหาการเดินทาง
      </h3>
    </div>
  </div>

  <div class="well">
    <%= search_form_for @search, url: search_bookings_path, method: :post, :html => {:class => ""} do |f| %>

        <div class="form-inputs">
          <div class="control-group">
            <label class="control-label" for="inputSource">ประเภทการเดินทาง</label>
            <label class="radio">
              <%= radio_button("q", "route_type_cont", "airport", options = { checked: true}) %>รถตู้ไปสนามบิน
            </label>
            <label class="radio">
              <%= radio_button("q", "route_type_cont", "tour") %>ทัวร์ท่องเที่ยว
            </label>
            <label class="radio">
              <%= radio_button("q", "route_type_cont", "bus") %>ตั๋วรถทัวร์
            </label>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputSource">เส้นทาง</label>

            <div class="controls">
              <%= f.collection_select(:destination_id_eq, Destination.order(:name), :id, :name, {include_blank: false}) %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputDeparture">วันที่เดินทาง</label>

            <div class="controls">
              <div id="datetimepicker1" class="input-append date">

                <input data-format="dd/MM/yyyy" type="text" id="q_departure_at_casted_date_equals" name="q[departure_at_casted_date_equals]"/>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputSource">จำนวนที่นั่ง</label>

          <div class="controls">
            <%= select(:seat, :number, (1..20)) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputSource">บริษัท</label>

          <div class="controls">
            <%= f.collection_select(:company_id_eq, Company.order(:name), :id, :name, {include_blank: true}) %>
          </div>
        </div>

        <%= f.button "ค้นหาเส้นทาง", :class => "btn btn-success floatleft" %>


    <% end %>
  </div>
</div>


