<div class="span11">
  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        ค้นหาการเดินทาง
      </h3>
    </div>
  </div>
  <%= search_form_for @search, url: bookings_path, method: :post, :html => {:class => "f-filter"} do |f| %>

      <table class="table table-bordered">
        <tr>
          <th></th>
          <th>เส้นทาง</th>
          <th>มาตราฐานรถ</th>
          <th>ที่นั่ง</th>
          <th>ที่นั่งว่าง</th>
          <th>ราคา</th>
          <th>วันที่เดินทาง</th>
          <th>วันที่ถึง</th>
          <th>บริษัท</th>
        </tr>

        <% @departs.each do |route| %>
            <% if route.seat - route.bookings.sum(:seat) > session[:seat].to_i %>
                <tr>
                  <td><%= radio_button_tag(:route_id, route.id) %></td>
                  <td><%= route.destination.name %></td>
                  <td><%= route.car_standard %></td>
                  <td><%= route.seat %></td>
                  <td><%= get_available(route) %></td>
                  <td><%= route.price %></td>
                  <td><%= I18n.l(route.departure, :format => :long) %></td>
                  <td><%= I18n.l(route.arrival, :format => :long) %></td>
                  <td><%= route.company.name %></td>
                </tr>
            <% end %>
        <% end %>

        <% if @departs.blank? %>
            <tr>
              <td colspan="9" style="text-align: center;">ไม่พบข้อมูล</td>
            </tr>
        <% end %>
      </table>


        <%= f.submit "ย้อนกลับ", :class => "btn  btn-inverse pull-left", :name => "btn_back" %>
        <%= f.submit "ต่อไป", :class => "btn btn-primary pull-right", :name => "btn_next" %>

  <% end %>
</div>
