<div class="span11">
  <div class="title-group">
    <div class="title">

      <h3>
        <div class="RG"></div>
        <%= t('activerecord.models.company') %>
      </h3>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th><%= t('activerecord.attributes.company.name') %></th>
      <th><%= t('activerecord.attributes.company.address') %></th>
      <th><%= t('activerecord.attributes.company.tel') %></th>
      <th><%= t('activerecord.attributes.company.fax') %></th>
      <th></th>
    </tr>

    <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, edit_company_path(company) %></td>
          <td><%= company.address %></td>
          <td><%= company.tel %></td>
          <td><%= company.fax %></td>
          <td class="toolbars">
            <%= link_to t('toolbars.edit'), edit_company_path(company), :class => "btn btn-primary btn-mini" %>
            <%= link_to t('toolbars.delete'), company, method: :delete, data: {confirm: t('confirm.delete')}, :class => "btn btn-danger btn-mini" %>
          </td>
        </tr>
    <% end %>

  </table>
  <div class="btn-with-navbar">
    <%= will_paginate @destinations, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>
    <%= link_to t('helpers.links.new') + t('activerecord.models.company'), new_company_path, :class => "btn btn-success" %>
  </div>

</div>


