<%= render 'shared/step' %>

<%= simple_form_for @booking, url: wizard_path do |f| %>

    <%= yield f %>

    <div class="form-actions">
      <% unless step == :summary %>
      <%= f.submit :back, :class => "btn-success floatleft", :name => "btn_back" %>
      <% end %>

      <%= f.submit :next, :class => "btn-success floatright", :name => "btn_next" %>
    </div>
<% end %>
