<h1>BookingStep#comfirm</h1>
<p>Find me in app/views/booking_step/comfirm.html.erb</p>

<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @trip.source.name %>
</p>
<p>
  <b>To:</b>
  <%= @trip.destination.name %>
</p>

<p>
  <b>Car standard:</b>
  <%= @trip.car_standard %>
</p>

<p>
  <b>Seat:</b>
  <%= @trip.seat %>
</p>

<p>
  <b>Price:</b>
  <%= @trip.price %>
</p>

<p>
  <b>Departure:</b>
  <%= @trip.departure %>
</p>

<p>
  <b>Arrival:</b>
  <%= @trip.arrival %>
</p>

<p>
  <b>Company:</b>
  <%= @trip.company %>
</p>

<%= render layout: 'form' do |f| %>

    <%= f.input :customer_name %>
    <%= f.input :customer_telephone %>
    <%= f.input :pick_up_point %>

<% end %>
