<%= simple_form_for @booking, url: wizard_path do |f| %>
    <div class="span8">


      <div class="widget stacked">
        <div class="widget-header">
          <i class="icon-tasks"></i>

          <h3>Customer Details</h3>
        </div>

        <div class="widget-content">

          <%= f.input :customer_name %>
          <%= f.input :customer_telephone %>

          <%= f.input :no %>
          <%= f.input :price %>
          <%#= f.input :seller %>
          <%= f.input :pick_up_point %>

          <div class="clearfix"></div>

          <div class="form-actions">
            <% unless step == :summary %>
                <%= f.submit :back, :class => "btn floatleft", :name => "btn_back" %>
            <% end %>

            <%= f.submit :confirm, :class => "btn btn-success floatright", :name => "btn_next", :confirm => "Do you want Confirm your ticket?" %>
          </div>

        </div>
      </div>


    </div>
<% end %>

<div class="span4">
  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-tasks"></i>

      <h3>Booking Detail</h3>
    </div>
    <div class="widget-content">

      <div class="ticket-details">
        <ul>
          <li>
            <p>
              <b>Route:</b>
              <%= route_to_s @route %>
            </p>

            <p>
              <b>Car standard:</b>
              <%= @route.car_standard %>
            </p>

            <p>
              <b>Departure:</b>
              <%= I18n.l(@route.departure, :format => :long) %>
            </p>

            <p>
              <b>Arrival:</b>
              <%= I18n.l(@route.arrival, :format => :long) %>
            </p>

            <p>
              <b>Company:</b>
              <%= @route.company.name %>
            </p>
            <p>
              <b>Seat:</b>
              <span id="booking_seat"><%= @booking.seat %></span>
            </p>

            <p>
              <b>Net Price:</b>
              <%= @route.price %>
            </p>

          </li>
          <li>
            <p>
              <b>Total Price:</b>
              <span id="total_price"></span>
              <%#= "(#{@booking.price} x #{@booking.seat}) = #{@booking.price * @booking.seat}" %>
            </p>
          </li>

        </ul>
      </div>


    </div>
  </div>
</div>
