<div class="span8">
  <ul class="processnav" style="margin-top: -10px;">
    <li class="selectedtab">
      <a href=""><span class="num">1</span> Search</a></li>
    <li  class="selectedtab">
      <a href=""><span class="num">2</span> Select Trip</a>
    </li>

    <li class="selectedtab">
      <a href=""><span class="num">3</span> Customer Detail</a>
    </li>
    <li class="last">
      <a href=""><span class="num">4</span> Summary</a>
    </li>
  </ul>
</div>

<%= simple_form_for @booking, url: wizard_path do |f| %>
    <div class="span8">


      <div class="widget stacked">
        <div class="widget-header">
          <i class="icon-tasks"></i>

          <h3>Customer Details</h3>
        </div>

        <div class="widget-content">

                <%= f.input :customer_name %>
                <%= f.input :customer_telephone %>
                <%= f.input :pick_up_point %>

          <div class="clearfix"></div>

          <div class="form-actions">
            <% unless step == :summary %>
                <%= f.submit :back, :class => "btn floatleft", :name => "btn_back" %>
            <% end %>

            <%= f.submit :confirm, :class => "btn btn-success floatright", :name => "btn_next", :confirm => "Do you want Confirm your ticket?" %>
          </div>

        </div>
      </div>


    </div>
<% end %>

<div class="span4">
  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-tasks"></i>

      <h3>Ticket Detail</h3>
    </div>
    <div class="widget-content">

      <div class="ticket-details">
        <ul>
          <li>
            <p>
              <b>Route:</b>
              <%= route_to_s @trip %>
            </p>

            <p>
              <b>Car standard:</b>
              <%= @trip.car_standard %>
            </p>

            <p>
              <b>Departure:</b>
              <%= I18n.l(@trip.departure, :format => :long) %>
            </p>

            <p>
              <b>Arrival:</b>
              <%= I18n.l(@trip.arrival, :format => :long) %>
            </p>

            <p>
              <b>Company:</b>
              <%= @trip.company %>
            </p>

            <p>
              <b>Price:</b>
              <%= @trip.price %>
            </p>

          </li>
          <li>
            <p>
              <b>Total Price:</b>
              <%= "(#{@trip.price} x #{@booking.seat}) = #{@trip.price * @booking.seat}" %>
            </p>
          </li>

        </ul>
      </div>


    </div>
  </div>
</div>
