<div class="span11">
  <div id="print-area">
  <%= render 'shared/ticket' %>
  </div>
  <%= simple_form_for @booking, url: wizard_path do |f| %>
      <%= yield f %>
      <div class="form-actions">
        <%= link_to_icon " พิมพ์ตั๋ว", "#", {:id => "print-ticket", :class => "btn btn-large btn-primary"}, "icon-print" %>
        <%= f.submit "เสร็จสิ้น", :class => "btn btn-success btn-large pull-right", :name => "btn_next" %>
      </div>
  <% end %>

</div>


