<div class="span11">
  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        <%= t("devise.invitations.new.header") %>
      </h3>
    </div>
  </div>
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

      <div class="form-inputs">

        <% if current_user.has_role? :system %>
            <div class="control-group">
              <label class="control-label" for="company">บริษัท</label>

              <div class="controls">
                <%= f.select(:company_id, Company.all.collect { |c| [c.name, c.id] }) %>
              </div>
            </div>
        <% end %>


        <% resource.class.invite_key_fields.each do |field| -%>
            <div class="control-group">
              <%= f.label field %>
              <div class="controls">
                <%= f.text_field field %>
              </div>
            </div>

        <% end -%>
      </div>

      <p><%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-success' %></p>
  <% end %>
</div>