<%= simple_form_for(@route) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :route_type, :as => :radio_buttons,
                  :collection => [["airport", 'Mini Bus to Airport'], ["tour", 'Tour'], ["bus", 'Bus Ticket']],
                  :label_method => :last,
                  :value_method => :first %>
      <%#= f.association :source %>
      <%= f.association :destination %>

      <%= f.input :departure %>
      <%= f.input :arrival %>
      <%= f.input :car_standard %>
      <%= f.input :seat %>
      <%= f.input :price %>

      <% if current_user.has_role? :system %>
        <%= f.association :company, label_method: :name, value_method: :id, include_blank: false %>
      <% end %>

      <div class="control-group">
        <label class="control-label" for="property_type"> Prototype :</label>

        <div class="controls">

          <%= f.collection_select(:prototype_id, Prototype.with_company(current_user), :id, :name, include_blank: true) %>
        </div>

      </div>

      <%= f.input :description, :as => :text, :input_html => { :class => 'redactor' } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-success" %>
      <%= link_to 'Back', routes_path, :class => "btn" %>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>
