<div class="span11">
  <div class="title-group">
    <div class="title">
      <div class="search-link-right pull-right">
        <a href="#" id="search_btn">ค้นหา</a>
      </div>

      <h3>
        <div class="RG"></div>
        <%= t('activerecord.models.route') %>
      </h3>


    </div>
  </div>

  <%= render 'serach_form' %>

  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    Best check yo self, you're not...
  </div>

  <table class="table table-bordered">
    <tr>
      <th><%= sort_link @search, :number, "รหัส" %></th>
      <th>เส้นทาง</th>
      <th>รถ</th>
      <th>ที่นั่ง</th>
      <th><%= sort_link @search, :price, "ราคา" %></th>
      <th><%= sort_link @search, :departure, "วันที่เดินทาง" %></th>

      <% if current_user.has_role? :system %>
          <th>บริษัท</th>
      <% end %>
      <th></th>
    </tr>

    <% @routes.each do |route| %>
        <tr>
          <td><%= route.number %></td>
          <td><%= route.destination.name %></td>
          <td><%= route.car_standard %></td>
          <td><%= route.seat %></td>
          <td><%= route.price %></td>
          <td><%= I18n.l(route.departure, :format => :long) %><%#= route.departure.to_s(:time) %></td>

          <% if current_user.has_role? :system %>
              <td><%= route.company.name %></td>
          <% end %>
          <td>
            <div class="route_actions">

              <%= link_to t('toolbars.edit'), edit_route_path(route), :class => "btn btn-primary btn-mini" %>
              <%= link_to t('toolbars.delete'), route_path(route), method: :delete, data: {confirm: t('confirm.delete')}, :class => "btn btn-danger btn-mini" %>

            </div>
          </td>

        </tr>
    <% end %>
  </table>
  <div class="btn-with-navbar">
    <%= will_paginate @routes, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>
    <%= link_to "สร้างเส้นทาง", new_route_path, :class => "btn btn-success" %>
    <%= link_to "สร้างเส้นทางต้นแบบ", prototype_routes_path, :class => "btn btn-success" %>
  </div>

</div>



<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>




