<div class="span8">
  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-edit"></i>

      <h3>Customers </h3>
    </div>

    <div class="widget-content">
      <table class="blue">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Tel</th>
          <th>Seat</th>
          <th>Pick Up Point</th>
        </tr>


        <% @route.bookings.each do |booking| %>
            <tr>
              <td><%= booking.id %></td>
              <td><%= link_to "#{booking.customer_name}", report_booking_path(booking) %></td>
              <td><%= booking.customer_telephone %></td>
              <td><%= booking.booking_items.count(:id) %></td>
              <td><%= booking.pick_up_point %></td>

            </tr>

        <% end %>
      </table>

      <div class="btn-with-navbar">
        <%#= will_paginate @route, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>
        <%= link_to "Back", routes_path, :class => "btn btn-success" %>
      </div>

    </div>
  </div>
</div>

<div class="span4">
  <div class="widget stacked widget-box">
    <div class="widget-header">
      <i class="icon-search"></i>
      <h3>Route Details</h3>
    </div>

    <div class="widget-content">
      <div class="ticket-details">

            <p>
              <b>Route:</b>
              <%= route_to_s @route %>
            </p>

            <p>
              <b>Car standard:</b>
              <%= @route.car_standard %>
            </p>

            <p>
              <b>Departure:</b>
              <%= I18n.l(@route.departure, :format => :long) %>
            </p>

            <p>
              <b>Arrival:</b>
              <%= I18n.l(@route.arrival, :format => :long) %>
            </p>

            <p>
              <b>Company:</b>
              <%= @route.company.name %>
            </p>

            <p>
              <b>Price:</b>
              <%= @route.price %>
            </p>

      </div>

    </div>


  </div>
</div>

