<div class="span11">
  <div class="title-group">
    <div class="title">

      <h3>
        <div class="RG"></div>
        <%= t('activerecord.models.destination') %>
      </h3>
    </div>

  </div>



  <table class="table table-bordered">
    <tr>
      <th><%= t('activerecord.attributes.destination.name') %></th>
      <th></th>

    </tr>

    <% @destinations.each do |destination| %>
        <tr>
          <td><%= destination.name %></td>
          <td class="toolbars">
            <%= link_to t('toolbars.edit'), edit_destination_path(destination), :class => "btn btn-primary btn-mini" %>
            <%= link_to t('toolbars.delete'), destination, method: :delete, data: {confirm: t('confirm.delete')}, :class => "btn btn-danger btn-mini" %>
          </td>
        </tr>
    <% end %>
  </table>
  <div class="btn-with-navbar">
    <%= will_paginate @destinations, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>

    <%= link_to t('helpers.links.new') + t('activerecord.models.destination'), new_destination_path, :class => "btn btn-success" %>

    <div class="input-append pull-right">
      <%= search_form_for @search, :html => {:class => ""} do |f| %>
          <%= f.text_field :name_cont %>
          <%= f.button t('button.search'), :class => "btn" %>
      <% end %>
    </div>

  </div>
</div>


