

<div class="span11">
  <div class="title-group">
    <div class="title">
      <div class="search-link-right pull-right">
        <a href="#" id="search_btn">ค้นหา</a>
      </div>

      <h3>
        <div class="RG"></div>
        ประวัติการจองตั๋ว
      </h3>

    </div>
  </div>

  <%= render 'search_form' %>

  <table class="table table-bordered">
    <tr>
      <th>หมายเลข</th>
      <th>ชื่อลูกค้า</th>
      <th>วันที่จองตั๋ว</th>
      <th></th>
    </tr>

    <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.number %></td>

          <td><%= link_to "#{booking.customer_name}", report_booking_path(booking), :target => '_blank' %></td>
          <td><%= I18n.l(booking.created_at, :format => :long) %></td>
          <td class="toolbars">

          </td>

        </tr>
    <% end %>
  </table>

  <div class="btn-with-navbar">
    <%= will_paginate @bookings, :renderer => BootstrapPagination::Rails, :class => "pagination floatright", :previous_label => "&#8592;", :next_label => "&#8594;" %>

  </div>

</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>