<div class="widget-content" id="printArea">
  <div class="span9">
    <h4>Travel Itinerary</h4>
    <h4>Booking ID : <%= @booking.number %></h4>
  </div>
  <div class="clearfix"></div>


  <div id="summary-ticket " class="span4">
    <div class="bs-docs-example">
      <p>customer detail</p>

      <p>name : <%= @booking.customer_name %></p>

      <p>telephone : <%= @booking.customer_telephone %></p>

      <p>PickUp Point : <%= @booking.pick_up_point %></p>
    </div>


    <div class="bs-docs-example">
      <p>Payment</p>

      <p>Price Ticket: <%= "(#{@Route.price} x #{@booking.seat}) = #{@Route.price * @booking.seat}" %></p>

      <p>Price Total : <%= "#{@Route.price * @booking.seat}" %></p>
    </div>
  </div>

  <div class="bs-docs-example  span3">

    <p><b>Travel</b></p>

    <p>
      <b>Route:</b>
      <%= route_to_s @Route %>
    </p>

    <p>
      <b>Departure:</b>
      <%= I18n.l(@Route.departure, :format => :long) %>
    </p>

    <p>
      <b>Arrival:</b>
      <%= I18n.l(@Route.arrival, :format => :long) %>
    </p>

    <p>
      <b>Car standard:</b>
      <%= @Route.car_standard %>
    </p>

    <p>
      <b>Company:</b>
      <%= @Route.company %>
    </p>

    <p>
      <b>Price:</b>
      <%= @Route.price %>
    </p>
  </div>

  <div class="clearfix"></div>

  <div class="span8">
    condition
  </div>

  <div class="clearfix"></div>




</div>