<div class="span12">

  <div class="widget stacked">
    <div class="widget-header">
      <i class="icon-tasks"></i>

      <h3>Travel Itinerary</h3>
    </div>

    <div class="widget-content" id="printArea">
      <div class="span9">
        <h4>Travel Itinerary</h4>
        <h4>Booking ID : <%= @booking.number %></h4>
      </div>


      <div id="summary-ticket " class="span4">
        <div class="bs-docs-example">
          <p>customer detail</p>

          <p>name : <%= @booking.customer_name %></p>

          <p>telephone : <%= @booking.customer_telephone %></p>

          <p>PickUp Point : <%= @booking.pick_up_point %></p>
        </div>


        <div class="bs-docs-example">
          <p>Payment</p>

          <p>Price Ticket: <%= "(#{@route.price} x #{@booking.seat}) = #{@route.price * @booking.seat}" %></p>

          <p>Price Total : <%= "#{@route.price * @booking.seat}" %></p>
        </div>
      </div>

      <div class="bs-docs-example  span3">

        <p><b>Travel</b></p>

        <p>
          <b>Route:</b>
          <%= route_to_s @route %>
        </p>

        <p>
          <b>Departure:</b>
          <%= I18n.l(@route.departure, :format => :long) %>
        </p>

        <p>
          <b>Arrival:</b>
          <%= I18n.l(@route.arrival, :format => :long) %>
        </p>

        <p>
          <b>Car standard:</b>
          <%= @route.car_standard %>
        </p>

        <p>
          <b>Company:</b>
          <%= @route.company.name %>
        </p>

        <p>
          <b>Price:</b>
          <%= @route.price %>
        </p>
      </div>

      <div class="span9">
        condition
      </div>

      <div class="clearfix"></div>


      <div class="form-actions">
        <%= link_to "Print Ticket", "#", :id => "print-ticket", :class => "btn middle btn-primary" %>

            <%#= f.submit :back, :class => "btn floatleft", :name => "btn_back" %>


        <%#= f.submit :Success, :class => "btn btn-success floatright", :name => "btn_next" %>
      </div>



    </div>


  </div>

</div>

<script type="text/javascript">
    function doPrint() {
        pr = window.open("/report/bookings/<%= @booking.id  %>/report", "print", "location=no,menubar=yes,status=no,toolbar=no,scrollbars=1,width=640,height=480");
//        c = "<html><head>";
//        c += "<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">";
//        c += "<style type='text/css'>";
//        c += "body,td,th {font-family: Tahoma,Verdana;font-size: 13px;}";
//        c += "</style>";
//        c += "<title>BusTicket.in.th</title>";
//        c += "</head><body style='margin:0px;'>";
//        c += document.getElementById('printArea').innerHTML;
//        c += "</body></html>";
//        pr.document.open();
//        pr.document.write(pr);
//        pr.document.close();
        pr.window.print();
    }
</script>