<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ticket System" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ticket System" %>">
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

  <div class="navbar navbar-masthead navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
  </div>

  <div id="main" role="main">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span11">
            <div class="span11">
              <%= render 'layouts/messages' %>
              ​</div>
            <%= yield %>
          </div>
        </div>
        <footer>
          <%= yield :scripts %>
        </footer>
      </div>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->
  </body>
</html>
